<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Home</title>
    <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="/output.css">
  
</head>
<body>
    <script src="https://cdn.tailwindcss.com"></script>
  <%- include('../partials/navbar') %>
  <header>
    <h1>Login with your detail</h1>

  </header>
   
  <Main>
      <form action="/login" method="POST">
   
        
     <input type="text" name="username" placeholder="Enter Username or Email" />
     
     
     <input type="password" name="password"  placeholder="Enter your password" />
     
     <input type="submit" value="login in" />
    </form>

  </Main>
  
</body>
</html>