<nav class="bg-gray-800 p-4">
  <div class="flex justify-between items-center text-white">
    
    <h1 class="text-xl font-bold">Airbnb</h1>

    <div class="space-x-4">
      <a href="/" class="bg-blue-500 px-4 py-2 rounded hover:bg-blue-600">
        Index
      </a>
      <% if(isLoggedIn){ %>
       <a href="/homes" class="bg-green-500  px-4 py-2 rounded hover:bg-blue-600">
        home-list
      </a>

      
      <a href="/booking" class="bg-green-500 px-4 py-2 rounded hover:bg-green-600">
       Bookings
      </a>
       <a href="/favourite" class="bg-green-500 px-4 py-2 rounded hover:bg-green-600">
       Favourites
      </a>
      <a href="/host/host-home-list" class="bg-green-500 px-4 py-2 rounded hover:bg-green-600">
       Host Home
      </a>

      <a href="/host/home " class="bg-green-500 px-4 py-2 rounded hover:bg-green-600">
        Add Home
      </a>
      <% } %>
      
      <% if (!isLoggedIn) { %>

      <a href="/signup" class="bg-red-500 px-4 py-2 rounded hover:bg-red-600">
       Sign Up
      </a> 
      <a href="/login" class="bg-yellow-500 px-4 py-2 rounded hover:bg-yellow-600">
       Login
      </a>
      <% } else { %>
     <div class="inline-block">
     <form action="/logout" method="POST">
      <button type="submit" class="bg-yellow-500 px-4 py-2 rounded hover:bg-yellow-600">Logout</button>
     </form> 
     </div>

      <% } %>

    </div>

  </div>
</nav>