<nav class="bg-gray-800 p-4">
  <div class="flex justify-between items-center text-white">
    
    <h1 class="text-xl font-bold">Airbnb</h1>

    <div class="space-x-4">
      <a href="/" class="bg-blue-500 px-4 py-2 rounded hover:bg-blue-600">
        Index
      </a>
       <a href="/home" class="bg-green-500  px-4 py-2 rounded hover:bg-blue-600">
        home-list
      </a>

      
      <a href="/booking" class="bg-green-500 px-4 py-2 rounded hover:bg-green-600">
       Bookings
      </a>
       <a href="/favourite" class="bg-green-500 px-4 py-2 rounded hover:bg-green-600">
       Favourites
      </a>
      <a href="/host/host-home-list" class="bg-green-500 px-4 py-2 rounded hover:bg-green-600">
       Host Home
      </a>

      <a href="/host/home " class="bg-green-500 px-4 py-2 rounded hover:bg-green-600">
        Add Home
      </a>
    </div>

  </div>
</nav>